# --- GREENLOGISTICS: GPS-SIMULATOR CONFIGURATION ---
# Pour configurer en local, faites une copie de ce fichier et nommez-la '.env' :
# Bash/Terminal : cp .env.example .env
# PowerShell : Copy-Item .env.example .env
# Windows Command Prompt : copy .env.example .env

PORT=3003
DELIVERY_SERVICE_URL=http://localhost:3000
GPS_INGEST_SERVICE_URL=http://localhost:3001
