# --- GREENLOGISTICS: DELIVERY-SERVICE CONFIGURATION ---
# Pour configurer en local, faites une copie de ce fichier et nommez-la '.env' :
# Bash/Terminal : cp .env.example .env
# PowerShell : Copy-Item .env.example .env
# Windows Command Prompt : copy .env.example .env

PORT=3000
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=greenlogistics
DB_PORT=5432
KAFKA_BROKER=localhost:9092
